/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fffacd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

ul {
  column-count: 3;
}

.stars {
  display: flex;
}

form{
   z-index: 3;
  　　position: absolute;
 }
